:root {
  --title-text-color: #212121;
  --main-text-color: #757575;
  --second-text-color: #ffffff;
  --accent-color: #2196f3;
  --second-background-color: #2f303a;
}

body {
  font-family: Roboto, sans-serif;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  background-color: #ffffff;
  color: var(--title-text-color);
}

ul {
  list-style: none; /*убирает точки в списке*/
  padding: 0;
  margin: 0;
}
.link {
  text-decoration: none;
} /*убирает подчеркивания ссылок*/

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

/* *,
::after,
::before {
  box-sizing: border-box;
} при подключенном normalize это не пишем*/

h1,
h2,
h3,
p {
  margin: 0;
} /*убираем все марджины для заголовков и абзацев*/

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

/*Верхняя линия*/
.border {
  border-bottom: 1px solid #ececec;
}
.top-line {
  display: flex;
  align-items: center;
}

.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.logo-dark {
  color: #000000;
}
.navigation {
  margin-left: 93px;
}
.header-list {
  display: flex;
}
.header-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-item:not(:last-child) {
  margin-right: 50px;
}
.header-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: inherit;
}
.header-link:hover,
.header-link:focus,
.header-contacts-link:hover,
.header-contacts-link:focus,
.current {
  color: var(--accent-color);
}
.header-contacts {
  display: flex;
  margin-left: auto;
}
.header-contacts-item {
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.header-contacts-item:not(:last-child) {
  margin-right: 50px;
}
.header-contacts-link {
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--main-text-color);
  display: block;
}

/*Шапка*/
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--second-background-color);
  text-align: center;
}

.hero-title {
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.hero-btn {
  padding: 10px 32px;
  min-width: 200px;
  text-align: center;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--second-text-color);
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: #188ce8;
}

/*Особенности*/

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  overflow: hidden;
} /*скрывает текст заголовка*/

.features {
  padding-bottom: 0;
}
.features-list {
  display: flex;
  flex-wrap: wrap;
}
.features-item {
  width: 270px;
  margin-right: 30px;
}
.features-item:nth-child(4n) {
  margin-right: 0;
}
.features-title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px; /*задаем т.к заголовок*/
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.features-text {
  color: var(--main-text-color);
}

/*Чем мы занимаемся*/
.about-list {
  display: flex;
}
.about-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

.about-item {
  margin-right: 30px;
}
.about-item:nth-child(3n) {
  margin-right: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
} /*убирает нижний зазор картинки - строчного элемента*/

/*Команда*/
.team {
  background-color: #f5f4fa;
}

.team-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}
.team-list {
  display: flex;
}
.team-item {
  margin-right: 30px;
  background-color: var(--second-text-color);
}
.team-item:nth-child(4n) {
  margin-right: 0;
}
.member {
  margin-top: 30px;
  margin-bottom: 30px;
}
.team-subtitle {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  color: var(--title-text-color);
}

.team-text {
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
  color: var(--main-text-color);
}

/*Портфолио*/

.filters {
  display: flex;
  margin-bottom: 50px;
  justify-content: center;
}
.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters-btn {
  min-width: 73px;
  padding: 6px 22px;
  text-align: center;
  border: none;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  color: var(--title-text-color);
  background-color: #f5f4fa;
  cursor: pointer;
}
.filters-btn:hover,
.filters-btn:focus {
  color: var(--second-text-color);
  background-color: var(--accent-color);
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;
}
.projects-item {
  margin: 15px;
}
.desc {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}
.projects-title {
  margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.projects-text {
  font-size: 16px;
  line-height: 1.87;
  color: var(--main-text-color);
}

/*Подвал*/
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--second-background-color);
}
.logo-clear {
  color: var(--second-text-color);
}
.footer-adress {
  margin-top: 20px;
  font-style: normal;
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-link-adress {
  color: var(--second-text-color);
}
.footer-link {
  color: rgba(255, 255, 255, 0.6);
}

.footer-link:hover,
.footer-link:focus,
.footer-link-adress:hover,
.footer-link-adress:focus {
  color: var(--accent-color);
}
